
<!-- need to justify orient the text, add padding  -->

<div class="container">
  <h2 id="title"> Local Haiti Nonprofits</h2>
  <div class="row" id="top">
    <div class="large-4 columns"><a class="modalHover" data-open="modal1"><%=image_tag("konbit-mizik.png", :class => "ngo-pic")%></div></a>
    <div class="large-4 columns"><a class="modalHover" data-open="modal2"><%=image_tag("sakala.png", :class => "ngo-pic")%></div></a>
    <div class="large-4 columns"><a class="modalHover" data-open="modal3"><%=image_tag("streetHeartsHaiti.png", :class => "ngo-pic")%></div></a>
  </div>
  <div class="row" id="bottom">
    <div class="large-4 columns"><a class="modalHover" data-open="modal4"><%=image_tag("justhaiti.png", :class => "ngo-pic")%></div></a>
    <div class="large-4 columns"><a class="modalHover" data-open="modal5"><%=image_tag("youhaiti.png", :class => "ngo-pic")%></div></a>
    <div class="large-4 columns"><a class="modalHover" data-open="modal6"><%=image_tag("heartinhaiti.png", :class => "ngo-pic")%></div></a>
  </div>
</div>


<% @ngos.each do |ngo| %>
    <div class="reveal" id="modal<%= ngo.id %>" data-reveal>
      <h1><%= ngo.name %></h1>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
<%= link_to "Learn More", ngo_path(ngo) %>
  </div>
<% end %>
