
<center><div id="contentInfo"><center>
  <h4>In the last 20 years, Haiti has experienced over 20 major natural disasters.</h4> <br>
  Flooding, hurricanes, cholera, and earthquakes have impeded communities' continual efforts to return to normalcy.<br>
  There were 10,257 civilian casualties over that 20 year time span, not including the 2010 earthquake.<br>
  The Haitian government reported the death toll to have surpassed 230,000 people after the second quake passed.
  <br>
  <br>
  Most international non-profits create a rallying cry around natural disasters to bootstrap donations, <br>
  but over time 3rd party analysis, along with investigative journalism, determined that many international non-profits were incredibly ineffective <br>
  in bringing meaningful changes to communities that were not understood by the employees who lacked the shared lived experience.
  <br>
  <br>
  <h3> ... So how can my resources reach the impacted communities? </h3>
</div>
<!-- need to justify orient the text, add padding  -->

<div class="container">
  <div class="row">
    <div class="small-2 large-4 columns"><a data-open="modal"><%=image_tag("konbit-mizik.png")%></div></a>
    <div class="small-4 large-4 columns"><a data-open="modal"><%=image_tag("omprakash.png")%></div></a>
    <div class="small-6 large-4 columns"><a data-open="modal"><%=image_tag("sakala.png")%></div></a>
  </div>
</div>

<%= @ngos.each do |ngo| %>
  <div class="reveal" id="modal" data-reveal>
    <h1><%= ngo.name %> </h1>
    <p class="lead"><% ngo.content %> </p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <button class="submit-button" id="showNgoButton" onclick="location.href = '/ngos'>Learn More</button> -->
  </div>
<% end %>
