<div id="headerTxt">
  <center><h1> <a href="/ngos"!>Learn more</a> and <a href="/donate">donate</a> today. </h1>
<div id="slider">
  <figure>
  <img src="http://interactive.wxxi.org/sites/default/files/images/highlights/children_of_haiti.jpg">
  <img src="https://spring2013env3400haiti.files.wordpress.com/2013/04/haiti_big.jpg" alt="Space">
  <img src="http://www.unocha.org/sites/default/files/OCHA_Category/Top_Stories/haiti_0.JPG" alt="Space">
  <img src="https://spring2013env3400haiti.files.wordpress.com/2013/04/haiti_big.jpg" alt="Space">
  <img src="http://www.unocha.org/sites/default/files/OCHA_Category/Top_Stories/haiti_0.JPG" alt="Space">
</figure>
</div>
</div>

<div class="container">
  <div class="row">
<div id="contentInfo" class="small-12 large-8 columns">
  <h4>HAITI</h4>
  <div class="small-12 columns">
    <p> Haiti is the third largest country in the Caribbean that shares the border with the Dominican republic</p>
      <div id="map"><%=image_tag("haiti-map.jpg", :class => "map-img")%></div>

      <p>In the last 20 years, Haiti has experienced over <strong>20 major natural disasters</strong></p> <br>
      <%= line_chart @countries.group(:year).count, height: '300px', colors: ["#2E4159"], library: {
        title: {text: 'Disaster Timeline', x: -20},
        yAxis: {
           allowDecimals: false,
           title: {
               text: 'Occurences'
           }
        },
        xAxis: {
           title: {
               text: 'Year'
           }
        }
      }  %>

      <p><strong>Flooding, hurricanes, cholera, and earthquakes</strong> have impeded communities' efforts to return to normalcy</p>

      <%= bar_chart @countries.group(:disaster).count, height: '300px', colors: ["#2E4159"], library: {
        title: {text: 'Disaster Types by Occurence', x: -20},
        yAxis: {
           allowDecimals: false,
           title: {
               text: 'Occurences'
           }
        },
        xAxis: {
           title: {
               text: 'Disaster Types'
           }
        }
      } %>

      <p><strong>10,257 civilian casualties </strong> have been reported over the last 20 years. The Haitian government reported the death toll to have surpassed <strong>230,000 people.</strong></p>

      <%= pie_chart @countries.group(:disaster).sum(:total_affected), height: '300px', library: {
        title: {text: 'Total Affected by Disasters', x: -20},
      } %>

      <%= pie_chart @countries.group(:disaster).sum(:deaths), height: '300px', library: {
        title: {text: 'Deaths by Disasters', x: -20} }%>

      <%= pie_chart @countries.group(:disaster).sum(:affected), height: '300px', library: {
        title: {text: 'Affected by Disasters', x: -20} }%>

      <%= pie_chart @countries.group(:disaster).sum(:injured), height: '300px', library: {
        title: {text: 'Injured by Disasters', x: -20} }%>

      <%= pie_chart @countries.group(:disaster).sum(:homeless), height: '300px', library: {
        title: {text: 'Displaced by Disasters', x: -20} }%>

        <p>Most internation non-profits create a rallying cry around national disasters, however research has shown these non-profits were <strong>incredibly ineffective</strong> in changing local Haitian communities</p>
        <p>How can you make a contribution that matters?</p>
      </div>
    </div>
      <div id="twitter" class="large-3 columns">
        <a class="twitter-timeline" data-theme="light" data-link-color="#3CA2A2" href="https://twitter.com/ede_men/lists/ngos">A Twitter List by ede_men</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </div>
  <div id="headerTxt">
    <center><h1> <a href="/donate">Donate</a> today. </h1>
  </div>
</div>
