<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!-- included vendor modernizr as per foundation rails instructions, does precompiling -->

    <%= csrf_meta_tags %>

    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
    <ul class="navul">
      <li class="homenavli title-area"><a href="/">Home</a></li>

      <li class="navli name"><a href="/donors/new">Signup</a></li>
      <li class="navli name"><a href="/login">Login</a></li>
      <li class="navli name"><a href="/ngos">NGO</a></li>
    </ul>
  </nav>
  </div>

  </head>







  <body>




    <%= yield %>

  </body>
  <header class="hero">
  <h1>Donate Today</h1>
</header>
<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Make a bigger difference</p>
      <p class="links">
        <a href="#">Home</a>
        <a href="#">NGO</a>
        <a href="#">Donate</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copyright 2016 &copy; </p>
    </div>
  </div>
</footer>
</html>
