<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ede Men</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Ede Men</a></li>
          <div class="top-bar-right">

            <li><%= link_to "Donate", donate_path %></li>

            <li class="dropdown">
              <a href="/ngos" class="dropbtn">NGOs</a>
              <div class="dropdown-content">
                <a href="/ngos/konbit-mizik">Konbit Mizik</a>
                <a href="/ngos/sakala-bochika">Sakala Bochika</a>
                <a href="/ngos/street-hearts-haiti">Street Hearts Haiti</a>
                <a href="/ngos/just-haiti">Just Haiti</a>
                <a href="/ngos/youthaiti">Youthaiti</a>
              </div>
            </li>

            <li><%= link_to "Contributors", contributors_path %></li>
            <% if current_donor && current_donor.admin %>
              <li><%= link_to "My Account", donor_path(current_donor) %></li>

              <li class="dropdown">
                <a class="dropbtn">Admin Tools</a>
                <div class="dropdown-content">
                  <%= link_to "Site Donors", donors_path %>
                </div>
              </li>

              <li><%= link_to "Logout", logout_path %></li>
            <% elsif current_donor %>
              <li><%= link_to "My Account", donor_path(current_donor) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><a href="/donors/new">Signup</a></li>
              <li><a href="/login">Login</a></li>
            <% end %>
          </div>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <p class="slogan">Make a bigger difference</p>
          <p class="links">
            <a href="/">Home</a>
            <a href="/ngos">NGOs</a>
            <a href="/donate">Donate</a>
            <a href="/contributors">Contributors</a>
          </p>
          <p class="copyright">Copyright 2016 &copy; </p>
        </div>
      </div>
    </footer>
  </body>
</html>
