<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!-- included vendor modernizr as per foundation rails instructions, does precompiling -->

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    <ul>
      <li><a class="active home" href="/">Home</a></li>
      <li><a href="/donors/new" class="right">Signup</a></li>
      <li><a href="/login" class="right">Login</a></li>

      <li class="dropdown">
    <a href="/ngos" class="dropbtn right">NGO</a>
      <div class="dropdown-content">
      <a href="/ngos/konbit-mizik">Konbit Mizik</a>
      <a href="/ngos/Sakala-Bochika">Sakala Bochika</a>
      <a href="/ngos/Street-Hearts-Haiti">Street Hearts Haiti</a>
      <a href="/ngos/Just-Haiti">Just Haiti</a>
      <a href="/ngos/Youhaiti">Youhaiti</a>
    </div>
    </li>
    </ul>
  </header>

    <%= yield %>

    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          <p class="slogan">Make a bigger difference</p>
          <p class="links">
            <a href="#">Home</a>
            <a href="#">NGO</a>
            <a href="#">Donate</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="#">Contact</a>
            </p>
          <p class="copywrite">Copyright 2016 &copy; </p>
        </div>
      </div>
    </footer>
  </body>
</html>
